body {
    background-color: #cecece; 
    /* задает цвет заднего фона у веб-страницы */
    padding: 32px;
    /* задает внутренний отступ от краев веб-страницы */
}

button {
    margin: 25px 15px;
    /* задает внешний отступ 25px сверху и снизу от каждой кнопки, 15px слева и справа */
    border: none;
    /* очистка стиля границы кнопки */
    border-radius: 5px;
    /* скругление границы кнопки на радиус углов в 5px */
    border: 1px solid lime;
    /* задает сплошную границу толщиной 1px и лаймового цвета */
    padding: 15px 35px;
    /* задает внутренний отступ текста от границы кнопки */
}

button:hover {
    outline: 1px solid white;
    /* задает белый внешний сплошной контур для кнопки толщиной 1px 
    (в отличие от границы рисуется поверх других стилей) */
    outline-offset: -2px;
    /* задает расстояние между внешним контуром и границей элемента, -2px означает, что
    контур будет находиться на 2 пикселя ближе к центру кнопки относительно ее границ */
    cursor: pointer;
    /* заменяет курсор на указатель (палец руки) */
}
    
.button1 {
    background-image: linear-gradient(#76B9CC, #97cc76);
    /* задает линейный градиент от голубого к салатовому, 
    идущий по умолчанию сверху вниз*/
}

.button2 {
    background-image: linear-gradient(#76B9CC, #CC208A, #97cc76);
    /* задает линейный градиент из 3 цветов, по порядку идущих
     в градиенте сверху вниз: от голубого к пурпурному и затем к салатовому */
}

.button3 {
    background-image: linear-gradient(#76B9CC, #CC208A, #97cc76, #B34EE9);
    /* задает линейный градиент из 4 цветов, 
    по порядку идущих в градиенте сверху вниз: 
    от голубого к пурпурному, затем к салатовому и к фиолетовому */
}

.button4 {
    background-image: linear-gradient(blue 5%, lime 30%, #97cc76 80%,
            #B34EE9 90%);
    /* задает линейный градиент из 4 цветов, 
    по порядку идущих в градиенте сверху вниз: от синего до фиолетового,
    при этом в процентах указан объем (процент от высоты блока кнопки) занимаемых цветами в градиенте */
}

.button5 {
    background-image: linear-gradient(blue 5px, lime 15px, white 30px, black 50px);
    /* задает линейный градиент из 4 цветов, 
    по порядку идущих в градиенте сверху вниз: от синего до черного,
    при этом в пикселях указан объем (количество пикселей высоты блока кнопки) занимаемых цветами в градиенте */
}

.button6 {
    background-image: linear-gradient(25deg, blue, lime);
    /* задает линейный градиент от синего в лаймовый цвет под углом 25 градусов
    угол - между горизонтальной осью и средней линией градиента */
}

.button7 {
    background-image: radial-gradient(red 0%, yellow 30%);
    /* задает радиальный градиент с красным в центре, и начиная с 
        30% от радиуса блока заканчивается желтым */
}

.button8 {
    background-image: radial-gradient(at top right, red, yellow);
    /* задает радиальный градиент, центр которого стоит в верхнем правом углу кнопки
    центр - красного цвета, за ним идет равномерный переход в желтый */
}

.button9 {
    background-image: radial-gradient(farthest-corner at 25% 50%,
            #f35 0%, #43e 100%);
    /* задает радиальный градиент с центром в точке 25% от ширины и 50% от высоты блока, 
    начиная от красного в центре и переходящий к синему на самом дальнем углу */
}

.button10 {
    background-image: radial-gradient(15px 15px at 85% 25%,
            #f35 0%, #43e 100%);
    /* задает эллиптический радиальный градиент размером 15px на 15px с центром в точке 85% от ширины и 25% от высоты блока,
        начиная от красного в центре и переходящий к синему к границам с этим кругом */
}