* {
    padding: 0;
    margin: 0;
    /* Убирает отступы и поля для всех элементов на странице */
}

.wrap {
    width: 200px;
    height: 150px;
    outline: 1px solid #000;
    /* Задает ширину и высоту контейнера, а также обводку черного цвета */
    display: inline-block;
    margin: 35px 50px;
    /* Контейнер отображается как inline-block элемент с отступами 35px сверху и снизу, и 50px слева и справа */
}

.wrap>div {
    width: 200px;
    height: 150px;
    background: rgba(144, 235, 242, 0.5);
    /* Задает ширину и высоту, полупрозрачный голубой фон */
    display: inline-block;
    position: relative;
    z-index: 2;
    /* Элемент отображается как inline-block, с относительным позиционированием и z-index для наложения */
    transition: transform 1s;
    /* Задает плавный переход для трансформаций продолжительностью 1 секунда */
}

.wrap>div>span {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    /* Абсолютное позиционирование текста, выравнивание по центру горизонтально и на 45% от верхнего края вертикально */
}

.translateX:hover {
    transform: translateX(50px);
    /* Перемещает элемент на 50px вправо по оси X при наведении */
}

.translateY:hover {
    transform: translateY(50px);
    /* Перемещает элемент на 50px вниз по оси Y при наведении */
}

.translate:hover {
    transform: translate(50px, 50px);
    /* Перемещает элемент на 50px вправо и на 50px вниз при наведении */
}

.scaleX:hover {
    transform: scaleX(-1);
    /* Зеркально отражает элемент по горизонтали при наведении */
}

.scaleY:hover {
    transform: scaleY(-1);
    /* Зеркально отражает элемент по вертикали при наведении */
}

.scaleX15:hover {
    transform: scaleX(1.5);
    /* Увеличивает элемент в 1.5 раза по горизонтали при наведении */
}

.scale:hover {
    transform: scale(1.5, 0.5);
    /* Увеличивает элемент в 1.5 раза по горизонтали и уменьшает в 2 раза по вертикали при наведении */
}

.rotate:hover {
    transform: rotate(360deg);
    /* Поворачивает элемент на 360 градусов при наведении */
}

.skewX:hover {
    transform: skewX(45deg);
    /* Наклоняет элемент на 45 градусов по оси X при наведении */
}

.skewY:hover {
    transform: skewY(-45deg);
    /* Наклоняет элемент на -45 градусов по оси Y при наведении */
}

.skew:hover {
    transform: skew(-20deg, 20deg);
    /* Наклоняет элемент на -20 градусов по оси X и на 20 градусов по оси Y при наведении */
}

.matrix:hover {
    transform: matrix(1.5, 0, 0.5, 1.2, 50, 0);
    /* Применяет матричную трансформацию к элементу при наведении. 
    Параметры:
       matrix(a, b, c, d, e, f)
       a (1.5): масштабирование по оси X
       b (0): наклон по оси Y
       c (0.5): наклон по оси X
       d (1.2): масштабирование по оси Y
       e (50): перемещение по оси X
       f (0): перемещение по оси Y */
}