/* задаем анимацию bouncing */
@keyframes bouncing {
    0% {
        left: 50px;
        bottom: 0;
        /* начальная позиция слева 50px (смещаем впрово), снизу 0px */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        /* тень с размерами 0 0 5px, полупрозрачная */
    }

    50% {
        left: 150px;
        bottom: 250px;
        /* середина анимации: позиция слева 150px (смещаем впрово), снизу 250px (смещаем вверх) */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        /* тень сохраняется */
    }

    100% {
        left: 350px;
        bottom: 0px;
        /* конечная позиция слева 350px (смещаем впрово), снизу 0px */
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
        /* тень удлиняется и становится более размытой */
    }
}

div {
    animation: bouncing 1s cubic-bezier(.1, .25, .1, 1) 0s infinite alternate both;
    /* применяет анимацию bouncing с продолжительностью 1с, кривой Безье для тайминга,
       без задержки, бесконечное повторение, чередование направлений, отображение на протяжении всей анимации */
    background: lightslategrey;
    /* задает светло-серый цвет фона */
    display: block;
    /* элемент отображается как блочный элемент */
    width: 120px;
    /* ширина 120px */
    height: 120px;
    /* высота 120px */
    text-align: center;
    /* выравнивание текста по центру */
    border-radius: 150px;
    /* закругление углов, делает элемент кругом */
    position: relative;
    /* позволяет перемещать элемент относительно его нормального положения */
    margin-top: 250px;
    /* отступ сверху 250px */
}

div::before {
    content: "Ball";
    /* добавляет текстовое содержимое перед элементом */
    display: inline-block;
    /* отображает элемент как встроенный блок */
    margin-top: 40px;
    /* отступ сверху от краев блока 40px */
    color: white;
    /* цвет текста белый */
    font-size: 2rem;
    /* размер шрифта 2rem */
}