.lighter {
    font-weight: lighter;
    /* Задание менее жирного начертания шрифта, чем наследовано*/
}

.bolder {
    font-weight: bolder;
    /* Задание более жирного начертания шрифта, чем наследовано*/
}
    
p i {
    font-weight: bold;
    /* Задание полужирного начертания шрифта */
}