h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* Задание гарнитуры шрифта */
}

h2 {
    font-family: 'Courier New', Courier, Monaco, monospace;
    /* Задание гарнитуры шрифта */
}

.copy {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    /* Задание гарнитуры шрифта */
}