body {
    background-color: #cecece;
    /* задает цвет заднего фона у веб-страницы */
    padding: 32px;
    /* задает внутренний отступ от краев веб-страницы */
}

button {
    margin: 25px 15px;
    /* задает внешний отступ 25px сверху и снизу от каждой кнопки, 15px слева и справа */
    border: none;
    /* очистка стиля границы кнопки */
    border-radius: 5px;
    /* скругление границы кнопки на радиус углов в 5px */
    border: 1px solid lime;
    /* задает сплошную границу толщиной 1px и лаймового цвета */
    padding: 15px 35px;
    /* задает внутренний отступ текста от границы кнопки */
}
/* при наведении на кнопку */
button:hover {
    outline: 1px solid white;
    /* задает белый внешний сплошной контур для кнопки толщиной 1px 
    (в отличие от границы рисуется поверх других стилей) */
    outline-offset: -2px;
    /* задает расстояние между внешним контуром и границей элемента, -2px означает, что
    контур будет находиться на 2 пикселя ближе к центру кнопки относительно ее границ */
    cursor: pointer;
    /* заменяет курсор на указатель (палец руки) */
}

.button1 {
    background-color: #2563E9;
    /* задает фоновый цвет кнопки */
    transition: 1s;
    /* добавляет плавный переход всех изменяемых свойств за 1 секунду*/
}
/* при наведении на 1ую кнопку */
.button1:hover {
    background-color: #4478E9;
    /* изменяет фоновый цвет кнопки при наведении курсора */
}

.button2 {
    background-color: #2563E9;
    /* задает фоновый цвет кнопки */
    transition: 1s;
    /* добавляет плавный переход всех изменяемых свойств за 1 секунду */
    transition-property: background;
    /* уточняет, что плавный переход применяется только к изменению фонового цвета */
}
/* при наведении на 2ую кнопку */
.button2:hover {
    background-color: #E95AD1;
    /* изменяет фоновый цвет кнопки при наведении курсора */
    outline: none;
    /* убирает белую рамку при наведении курсора */
}