* {
    padding: 0;
    margin: 0;
    /* Убирает все отступы и поля для всех элементов, чтобы обеспечить точное выравнивание */
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        /* Определяет анимацию, которая поворачивает элемент на 360 градусов */
    }
}

.wrap {
    width: 200px;
    height: 150px;
    outline: 1px solid #000;
    display: inline-block;
    margin: 35px 50px;
    /* Устанавливает размеры и стили контейнера, добавляет черную рамку, делает его блочным элементом с отступами */
}

.wrap>div {
    width: 200px;
    height: 150px;
    background: rgba(144, 235, 242, 0.5);
    display: inline-block;
    position: relative;
    z-index: 2;
    animation: rotate 6s linear infinite;
    /* Устанавливает размеры внутреннего блока, его фон, делает его блочным элементом с относительным позиционированием, 
    устанавливает анимацию вращения с периодом в 6 секунд, которая повторяется бесконечно */
}

.wrap>div>span {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    /* Позиционирует текстовый элемент внутри блока на 45% сверху, выравнивая его по центру по горизонтали */
}

.element-1 {
    transform-origin: 50% 50%;
    /* Устанавливает точку вращения в центре элемента */
}

.element-2 {
    transform-origin: top left;
    /* Устанавливает точку вращения в верхнем левом углу элемента */
}

.element-3 {
    transform-origin: 100% 0%;
    /* Устанавливает точку вращения в правом верхнем углу элемента */
}

.element-4 {
    transform-origin: 50px 50px;
    /* Устанавливает точку вращения в точке с координатами 50px по горизонтали и 50px по вертикали от верхнего левого угла элемента */
}