* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black;
}

/*-----------Header-------------*/
header {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 0px 99px 5px 99px;
}

.header__logoText {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
}

.header__menu {
    font-family: Montserrat, sans-serif;
}

.menu__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.header__menu ul li:nth-child(2) {
    background-color: rgb(242, 30, 18);
    ;
}

.header__menu ul li:nth-child(2)>a {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.header__menu ul li:last-child {
    margin-right: 45px;
}

.menu__item {
    padding: 32px 24px;
    list-style-type: none;
}

.header__menu .menu__item>a {
    list-style-type: none;
    letter-spacing: -0.1px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;

}

.menu__item:hover {
    background-color: rgb(242, 30, 18);

    a {
        font-size: 16px;
        font-weight: 700;
    }

    transition: 0.5s ease-out;
}

/*-----------Main|aboutInterests-------------*/
.aboutInterests {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.aboutInterests__text {
    width: 814px;
    height: 814px;
    padding: 225px 45px 320px 30px;
    background-color: rgb(20, 20, 22);
}

.aboutInterests__text>h1 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0;
}

.aboutInterests__text>p {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.aboutInterests__photo {
    background-image: url(../img/AboutPage/aboutBG.png);
    width: 498px;
    height: 472px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
}
/*-----------Main|gameDev-------------*/
.gameDev {
    width: 1440px;
    margin: 0 auto;
    padding: 98px 71px;
}

.gameDev__pretitle {
    color: rgb(132, 145, 160);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.gameDev__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-top:0;
}

.gameDev__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: -5px 4px;
}

.gameDev__card {
    width: 616px;
    height: 645px;
    border: 3px solid rgb(126, 126, 126);
    display: flex;
    flex-flow:column wrap;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;
}

.card_mainInfo>img {
    width: 574px;
    height: 265px;
    margin: 20px;
}

.card__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
}

.card__header>h3 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin: 10px 22px;
}

.card__header>p {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin: 1px 16px;
}

.card_mainInfo>p {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin: 30px 20px;
}

.card__footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.card__footer>button {
    color: rgb(155, 155, 155);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(130, 128, 128);
    border-radius: 15px;
    background-color: black;
    padding: 14px 15px;
    margin: 0px 20px;
    cursor: pointer;
}

.card__footer>div {
    color: rgb(176, 176, 176);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 15px;
    background-color: black;
    padding: 9px 11px;
    margin: 0px 20px;
}

.card__footer>button:hover {
    background-color: white;
    color: black;
    font-weight: 700;
    transition: .5s ease-out;
}

.card__footer>div:hover {
    background-color: rgb(242, 30, 18);
    color: white;
    transition: .5s ease-out;
}

/*-----------Main|gameDev-------------*/
.gameRev {
    width: 1440px;
    margin: 15px auto;
    padding: 0;
}

.gameRev>div:first-child {
    background-image: url(../img/AboutPage/grisReview.jpeg);
    width: 1440px;
    height: 395px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 144px;
    font-weight: 100;
    line-height: 176px;
    letter-spacing: 43px;
    text-align: center;
    text-transform: capitalize;
    padding: 23px 405px;
}

.gameRev__pict {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    user-select: none;
}

.gameRev__pict p {
    font: 400 110px Montserrat, sans-serif;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #099eda, 0 0 0.5em #099eda, 0 0 0.1em #099eda, 0 5px 3px #5c9ad3;
}

.gameRev__pict p span {
    animation: blink linear infinite 2s;
}

.gameRev__pict p span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
        text-shadow: none;
    }

    80% {
        color: #333;
        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

.gameRev__text {
    margin-top: 50px;
    width: 1440px;
    
}

.gameRev__head {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.gameRev__head:hover {
    text-shadow: 0 -10px 40px, 0 0 2px, 0 0 0.5em #099eda, 0 0 0.5em #099eda, 0 0 0.1em #099eda, 0 5px 3px #5c9ad3;
    transition: .5s ease-out;
}

.rev__div {
    border: 1px solid rgb(126, 126, 126);
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 30px;
}

.rev_H {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
}

.rev__p {
    color: rgb(167, 174, 182);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

blockquote {
    border: 1px solid rgb(126, 126, 126);
    border-radius: 12px;
    width: 580px;
    padding: 20px;
    font-style: italic;
}

blockquote>p {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.gameRev__text {
    border-radius: 43px;
}

.gameRev>div:nth-child(3) {
    background-image: url(../img/AboutPage/strayReview.jpg);
    width: 1440px;
    height: 395px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 144px;
    font-weight: 100;
    line-height: 176px;
    letter-spacing: 43px;
    text-align: center;
    text-transform: capitalize;
    padding: 19px 316px;
    margin-top: 200px;
}

.rev_img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.rev_pict1 {
    background-image: url(../img/AboutPage/gris1.png);
    width: 60%;
    height: 472px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;
}

.rev_pict2 {
    background-image: url(../img/AboutPage/gris2.png);
    width: 60%;
    height: 472px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;
}

.rev_pict3 {
    background-image: url(../img/AboutPage/stray1.png);
    width: 60%;
    height: 472px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;
}

.rev_pict4 {
    background-image: url(../img/AboutPage/stray2.png);
    width: 60%;
    height: 472px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;
}

.rev_pict5 {
    background-image: url(../img/AboutPage/stray.png);
    width: 60%;
    height: 472px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;
}

.rev_desc {
    width: 35%;
    
}

.rev_desc>p {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    /* margin: 210px 60px 0 60px; */
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(126, 126, 126);
    padding: 20px;
}

.rev_img:hover {
    p {
        /* background-color: rgb(88, 8, 4); */
        box-shadow: 0px 4px 53px 0px #5c99d39f;
        transition: 1s ease-out;
    }
    div.rev_pict5, div.rev_pict4, div.rev_pict3, div.rev_pict2, div.rev_pict1 {
        box-shadow: 0px 4px 53px 0px #5c99d35b;
        background-position: 90% 10%;
        transition: 1s ease-out;
    }
}

/*-----------Main|creativeSide-------------*/

.creativeSide {
    width: 1440px;
    margin: 130px auto;
    padding: 0;
}
.creativeSide__table {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid white;
    color: white;
}

.creativeSide__tableT {
    width: 100%;
    border-collapse: collapse;
}

.creativeSide__tableT th,
.creativeSide__tableT td {
    border: 1px solid #fff;
    padding: 15px;
    text-align: left;
}

.creativeSide__tableT thead th {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.creativeSide__tableT .tableCategory {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.tableProject>p:first-child {
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 20px;
}

.tableProject>p:nth-child(2) {
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 20px;
}

.tableProject li {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 20px;
}

.creativeSide__tableT .tableProject {
    width: 35%;
}

.creativeSide__tableT .tablePictures {
    width: 65%;
}

.creativeSide__tableT .tablePictures img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.tablePictures3{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.tableProject:hover {
    p {
        font-weight: bolder;
        transition: 1s ease-out;
    }
    li {
        font-weight: bolder;
        transition: 1s ease-out;
    }
}

/*-----------Footer-------------*/
footer {
    width: 1440px;
    margin: 0 auto;
    padding: 0px 99px 25px 99px;
}

hr {
    opacity: 10%;
    margin-bottom: 24px;
}

.footer__top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    margin: 0px 20px;

}

.footer__logo>img {
    width: 180px;
    height: auto;
}

.footer__menu {
    font-family: Montserrat, sans-serif;
}

.fmenu__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.fmenu__item {
    padding: 29px 24px;
    list-style-type: none;
}

.footer__menu .fmenu__item>a {
    list-style-type: none;
    letter-spacing: -0.1px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;

}

.fmenu__item:hover {
    color: rgb(242, 30, 18);
    ;

    a {
        font-size: 16px;
        font-weight: 700;
    }

    transition: 0.5s ease-out;
}

.footer__info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    color: rgb(153, 153, 153);
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 20px;
}

.icon_list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0 15px;
    cursor: pointer;
}

.icons__item {
    padding: 0 12px;
    list-style-type: none;
}

.icons__item>i {
    font-size: 1.5rem;
    color: rgb(83, 83, 83);
}

.icons__item>i:hover {
    color: rgb(255, 255, 255);
}