* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black;
}

/*-----------Header-------------*/
header {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 0;
}

.header__logoText {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
}

.header__menu {
    font-family: Montserrat, sans-serif;
}

.menu__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.header__menu ul li:first-child {
    background-color: rgb(242, 30, 18);
}

.header__menu ul li:first-child>a {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.header__menu ul li:last-child {
    margin-right: 0;
}

.menu__item {
    padding: 30px 17px;
    list-style-type: none;
}

.header__menu .menu__item>a {
    list-style-type: none;
    letter-spacing: -0.1px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;

}

.menu__item:hover {
    background-color: rgb(242, 30, 18);

    a {
        font-size: 16px;
        font-weight: 700;
    }

    transition: 0.5s ease-out;
}

/*-----------Main|Me-------------*/
.aboutMe{
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.aboutMe__photo {
    background-image: url(../img/me.jpg);
    height: 725px;
    width: 617px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: lightgray;
}

.aboutMe__text {
    width: 814px;
    height: 814px;
    padding: 176px 45px 320px 40px;
    background-color: rgb(20, 20, 22);
}

.aboutMe__text>h1 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0%;
    text-align: left;
}

.aboutMe__text>p {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

/*-----------Main|WorkExperience-------------*/
.workExp {
    width: 1440px;
    margin: 120px auto 105px auto;
    padding: 0 72px;
}

.workExp__subtitle {
    color: rgb(132, 145, 160);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom:0px;
    
}

.workExp__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -1.8px;
    text-align: left;
    margin-top: 5px;
}

.workExp_container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 0 0;
}

.workExp_item {
    text-align: left;
    width: 33.3333%;
}

.workExp_item_numb {
    color: rgb(132, 145, 160);
    font-family: Montserrat;
    font-size: 117px;
    font-weight: 400;
    line-height: 143px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.workExp_item_title {
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
}

.workExp_item_content {
    color: rgb(132, 145, 160);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.workExp_item:hover {
    background-color:white;
    h3 {
        color:black;
        transform: translateX(30px);
    }
    p {
        transform: translateX(30px);
    }
    transition: 1s ease-out;
}

/*-----------Main|Vision-------------*/
.vision {
    width: 1440px;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.vision__text {
    width: 50.5%;
    height: 600px;
    background-color: rgb(20, 20, 22);
    padding: 70px 72px;
}

.vision__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 25px;
}

.vision__content {
    color: rgb(105, 116, 128);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 135px;
}

.vision__text>a {
    text-decoration: none;
    color: rgb(196, 196, 196);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: .5px solid;
}

.vision__text>a:hover {
    color:white;
    padding-bottom: 7px;
    text-shadow: rgb(196, 196, 196);
    transition: 0.1s ease-out;
}

.vision__photo {
    width: 49.5%;
    background-image: url(../img/MainPage/redNeon.jpg);
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: lightgray;
}

/*-----------Main|Skillset-------------*/
.skillset {
    width: 1440px;
    margin: 0 auto;
    padding: 110px 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.skillset__right {
    width: 33%;
    padding: 0 50px;
}
.skillset__left {
    width: 66%;
    padding: 0 18px;
}

.skillset__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 29px;
    margin-top: 0px;
}

.skillset__content {
    color: rgb(132, 145, 160);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.skillset__container {
    display:flex;
    flex-flow: row wrap;
}

.skillset_item{
    width: 416px;
    height: 176px;
    margin: 0 16px 48px 0;
}

.skillset_item>i {
    color: rgb(242, 30, 18);
    font-size: 40px;
    
}

.skillset_item:hover {
    i {
        color: white;
        font-size: 44px;
    }
    h3 {
        font-size: 26px;
        color: rgb(242, 30, 18);
    }
}

.skillset__subtitle {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

.skillset__subcontent {
    color: rgb(132, 145, 160);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
}

/*-----------Main|LifeSides-------------*/
.life__sides {
    width: 1440px;
    margin: 0 auto;
    padding: 75px 90px 45px 90px;
}

.life__items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.life__itemContainer {
    width: 33%;
    perspective: 1000px;
    width: 333px;
    height: 446px;
    margin: 0 15px;
    display: inline-block;
}

.life__item {
    position: relative;
    cursor: pointer;
    width: 333px;
    height: 446px;
    transition: 1s;
    transform-style: preserve-3d;
}

.life__itemContainer:hover .life__item {
    transform: rotateY(180deg);
}

.life__items>div:nth-child(1)>div{
    background-image: url(../img/MainPage/partUni.jpg);
    width: 333px;
    height: 446px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 43px;
    box-shadow: 0px 4px 53px 0px rgba(255, 255, 255, 0.25);
}

.life__items>div:nth-child(2)>div{
    background-image: url(../img/MainPage/partWork.jpg);
    width: 333px;
    height: 446px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 43px;
    box-shadow: 0px 4px 53px 0px rgba(255, 255, 255, 0.25);
}

.life__items>div:nth-child(3)>div {
    background-image: url(../img/MainPage/partLife.jpg);
    width: 333px;
    height: 446px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 43px;
    box-shadow: 0px 4px 53px 0px rgba(255, 255, 255, 0.25);
    
}

.life__front{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 15px;
}


.life__front>h3 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    padding: 170px 102px;
    z-index: 3;
}

.life__back {
    background-color: #000;
    width: 333px;
    height: 446px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.life__back>h3 {
    padding-top: 15px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
}
.life__back>ul {
    color: rgb(132, 145, 160);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.life__back>p {
    color: rgb(132, 145, 160);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}

/*-----------Main|Promo-------------*/
.promo {
    width: 1440px;
    margin: 0 auto;
    padding: 72px 90px;
    /* background-color: rgb(20, 20, 22); */
}

.promo__info {
    text-align:center;
}

.promo__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0%;
}

.promo__button {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 53px 0px rgba(255, 255, 255, 0.25);
    background: rgb(20, 20, 22);
    cursor:pointer;
    padding: 24px 62px;
    border: none;
}

.promo__button:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    transition: .5s ease-out;
}

/*-----------Footer-------------*/
footer {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px 25px 20px;
}

hr {
    opacity: 10%;
    margin-bottom: 24px;
}

.footer__top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    margin: 0px 20px;

}

.footer__logo>img {
    width: 180px;
    height: auto;
}

.footer__menu {
    font-family: Montserrat, sans-serif;
}

.fmenu__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.fmenu__item {
    padding: 15px 10px;
    list-style-type: none;
}

.footer__menu .fmenu__item>a {
    list-style-type: none;
    letter-spacing: -0.1px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;

}

.fmenu__item:hover {
    color: rgb(242, 30, 18);

    a {
        font-size: 16px;
        font-weight: 700;
    }

    transition: 0.5s ease-out;
}

.footer__info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    color: rgb(153, 153, 153);
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 20px;
}

.icon_list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0 15px;
    cursor: pointer;
}

.icons__item {
    padding: 0 12px;
    list-style-type: none;
}

.icons__item>a>i {
    font-size: 1.5rem;
    color: rgb(83, 83, 83);
}

.icons__item>a>i:hover {
    color: rgb(255, 255, 255);
}


@media (min-width: 360px) {
    .aboutMe {
            padding: 55px 0;
            flex-flow: column;
            width: 768px;
            align-content: center;
    }
    
    .aboutMe__photo {
        height: 725px;
        width: 768px;
        margin-bottom: 0;
    }
    .workExp_container {
        flex-flow: column;
        width: 768px;
        align-content: center;
    }
    .vision {
        flex-flow: column;
        width: 768px;
        align-content: center;
    }
    .skillset {
        flex-flow: column;
        width: 768px;
        align-content: center;
    }
    .life__items {
        display: flex;
        flex-flow: column;
        gap: 10px;
        width: 700px;
        align-items: left;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .aboutMe {
        padding: 0px 0;
        flex-flow: column;
        width: 768px;
        align-content: center;
    }

    .aboutMe__photo {
        height: 725px;
        width: 768px;
        margin-bottom: 0;
    }


    .aboutMe__title {
        font-size: 55px;
        line-height: 67px;
    }

    .workExp_container {
        flex-flow: column;
        width: 768px;
        align-content: center;
    }

    .vision {
        flex-flow: column;
        width: 1000px;
        align-content: center;
    }
    .skillset {
        flex-flow: column;
        width: 1000px;
        align-content: center;
    }
    .life__items {
        display: flex;
        flex-flow: column;
        gap:10px;
        width: 700px;
        align-items: left;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    header {
        width: 1440px;
    }

    .aboutMe {
        width: 1440px;
        flex-flow: row wrap;
    }

    .aboutMe__photo {
        height: 725px;
        width: 598px;
        margin-bottom: 0;
    }
    .workExp_container {
        flex-flow: row;
        width: 1440px;
        justify-content: space-between;
        /* align-content: center; */
    }

    .vision {
        flex-flow: row;
        width: 1440px;
        justify-content: space-between;
    }

    .skillset {
        flex-flow: row;
        width: 1440px;
        justify-content: space-between;
    }

    .life__items {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 1240px;
        justify-content: space-between;
    }

    footer {
        width: 1440px;
        padding: 0px 99px 25px 99px;
    }
}






