* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black;
}

/*-----------Header-------------*/
header {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 0;
}

.header__logoText {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
}

.header__menu {
    font-family: Montserrat, sans-serif;
}

.menu__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.header__menu ul li:last-child {
    background-color: rgb(242, 30, 18);
}

.header__menu ul li:last-child>a {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.header__menu ul li:last-child {
    margin-right: 0;
}

.menu__item {
        padding: 30px 17px;
    list-style-type: none;
}

.header__menu .menu__item>a {
    list-style-type: none;
    letter-spacing: -0.1px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;

}

.menu__item:hover {
    background-color: rgb(242, 30, 18);

    a {
        font-size: 16px;
        font-weight: 700;
    }

    transition: 0.5s ease-out;
}

/*-----------Main/ContactForm-------------*/
.contactMe {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.contactMe__photo {
    background-image: url(../img/me.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: lightgray;
    margin-bottom: 20px;
}

.contact-form-container {
    padding: 25px 20px;
    width: 100%;
}

.contactMe__subtitle {
    color: rgb(132, 145, 160);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 15px;
}

.contactMe__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
}

.contactMe__form {
    width: 100%;
    border-radius: 23px;
    background-color: #1c1c1c69;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(24, 24, 35);
    color: #fff;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

textarea {
    min-height: 178px;
    max-height: 178px;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.21);
}

.demoToggleCheckbox {
    display: none;

}

.demoToggleCheckbox+label {
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 17px;
    position: relative;
    cursor: pointer;
}

.demoToggleCheckbox+label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s;
}

.demoToggleCheckbox:checked+label {
    background-color: rgb(242, 30, 18);
}

.demoToggleCheckbox:checked+label:after {
    transform: translateX(26px);
}

.switch {
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.switchLabel {
    margin: 0;
}

.flex__check {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

button {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 14px;
    border: none;
    background-color: rgb(100, 10, 5);
    cursor: pointer;
    padding: 18px 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b71c1c;
}

/*-----------Main/-------------*/

/*-----------Footer-------------*/
footer {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px 25px 20px;
}

hr {
    opacity: 10%;
    margin-bottom: 24px;
}

.footer__top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    margin: 0px 20px;

}

.footer__logo>img {
    width: 180px;
    height: auto;
}

.footer__menu {
    font-family: Montserrat, sans-serif;
}

.fmenu__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.fmenu__item {
    padding: 15px 10px;
    list-style-type: none;
}

.footer__menu .fmenu__item>a {
    list-style-type: none;
    letter-spacing: -0.1px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;

}

.fmenu__item:hover {
    color: rgb(242, 30, 18);

    a {
        font-size: 16px;
        font-weight: 700;
    }

    transition: 0.5s ease-out;
}

.footer__info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    color: rgb(153, 153, 153);
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 20px;
}

.icon_list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0 15px;
    cursor: pointer;
}

.icons__item {
    padding: 0 12px;
    list-style-type: none;
}

.icons__item>a>i {
    font-size: 1.5rem;
    color: rgb(83, 83, 83);
}

.icons__item>a>i:hover {
    color: rgb(255, 255, 255);
}
@media (min-width: 360px) {
    .demoToggleCheckbox:checked+label:after {
        transform: translateX(20px);
    }
    .demoToggleCheckbox+label {
        display: inline-block;
        width: 44px;
        height: 24px;
        background-color: #ccc;
        border-radius: 17px;
        position: relative;
        cursor: pointer;
    }


    .switch {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .contactMe {
        padding: 0px 0 30px 0;
    }

    .contactMe__photo {
        height: 725px;
        width: 43%;
        margin-bottom: 0;
    }

    .contact-form-container {
        padding: 25px 76px;
        width: 57%;
    }

    .contactMe__title {
        font-size: 55px;
        line-height: 67px;
    }

    .contactMe__form {
        width: 603px;
        height: 584px;
        padding: 38px;
    }

    input,
    textarea {
        max-width: 525px;
    }

    button {
        padding: 18px 170px;
    }

    .demoToggleCheckbox:checked+label:after {
        transform: translateX(20px);
    }
}

@media (min-width: 1024px) {
    header {
        width: 1440px;
    }

    .contactMe {
        width: 1440px;
    }

    footer {
        width: 1440px;
        padding: 0px 99px 25px 99px;
    }
}